# STRONG HTACCESS PROTECTION
#<Files ~ "^.*\.([Hh][Tt][Aa])">
# order allow,deny
# deny from all
#</Files>

Options +Indexes

IndexOrderDefault Ascending Name
#SET INDEX OPTIONS
IndexOptions IgnoreCase FancyIndexing FoldersFirst
IndexOptions NameWidth=* DescriptionWidth=* SuppressHTMLPreamble
#IndexOptions SuppressLastModified
IndexOptions IconsAreLinks IconHeight=30

AddDescription "Adobe Portable Document" .pdf .PDF
AddDescription "R code (script)" .r .R
AddDescription "R Sweave (noweb)" .Rnw .Snw
AddDescription "LaTeX document" .tex
AddDescription "LyX document" .lyx



HeaderName HEADER.html
ReadmeName README.html


AddIcon /icons/folder-1.png  ^^DIRECTORY^^

