.title {
    display: none;
}
h1 {
    text-align: center;
    width: auto;
    font-size: 150%;
}
h2 {
    font-size: 120%;
}
.author {
    font-weight: bold;
}
.author, .email, .institute, .date {
    text-align: center;
}
p.postamble {
    text-align: center;
}
div.author {
    font-weight: bold;
    font-size: large;
}
.col-sm-3{
    padding: 2em;
    height: 95%;
    width: 20%;
}
.col-sm-6{
    text-align: center;
    width: 60%;
}
.col-sm-3 > img{
    width: 100%;
}
.heading{
    width: 95%;
}
.row{
    display: flex;
    align-items: center;
    border-top: 2px solid #0051ba;
    border-bottom: 2px solid #0051ba;
    border-left: none;
    border-right: none;
    padding: 2em;
    width: 95%;
    margin: auto;
}
.separator{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: auto;
}
body{
    margin: 40px 40px;
}
.abstract > p{
    text-align: left;
    font-weight: bold;
}
div.abstract{
	text-align: left;
    margin: auto;
    width: 90%;
}
.author_info{
    margin: auto;
    width: auto;
    padding: 15px;
}
.author_info > table{
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: auto;
    padding: 10px;
    table-layout: auto;
    white-space: nowrap;
    overflow-x: scroll;
}
